._3fkc{text-align:center}body ._2jgg{box-sizing:border-box;text-align:center;width:100%}body ._2jgi{box-sizing:border-box;padding:0;width:100%}body ._5_-0{height:36px}body ._5_-1{height:64px}._2jgl:hover{text-decoration:none}._2jgm{margin-top:2px}._nsv{padding-top:5px}
._2hb5{display:inline-block}
._5qla{margin-top:3px;vertical-align:top}
.sp_GPqZJ_sO3wF{background-image:url(/rsrc.php/v3/yw/r/qAwoXqE3W5a.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:36px;width:36px}.sp_GPqZJ_sO3wF.sx_e80168{width:10px;height:11px;background-position:0 -37px}.sp_GPqZJ_sO3wF.sx_412bb0{background-position:0 0}

#bootloader_IP3zB{height:42px;}.bootloader_IP3zB{display:block!important;}